# ==============================
# ENTORNOS VIRTUALES
# ==============================
Backend/venv/
Backend/.venv/
venv/
.venv/

# ==============================
# VARIABLES PRIVADAS
# ==============================
.env
.env.*
!.env.example

Backend/.env
Backend/.env.*
!Backend/.env.example

# ==============================
# CACHÉ Y ARCHIVOS DE PYTHON
# ==============================
__pycache__/
*.py[cod]
*.pyc
*.pyo

.pytest_cache/
.ruff_cache/

# ==============================
# COBERTURA Y REPORTES DE PRUEBAS
# ==============================
.coverage
htmlcov/
reportes/
Backend/reportes/

# ==============================
# CARPETAS DE CARGA O TEMPORALES
# ==============================
Backend/Uploads/
Backend/uploads/
temp_uploads/

# ==============================
# LOGS
# ==============================
*.log
Backend/*.log
Frontend/*.log

# ==============================
# EDITORES
# ==============================
.vscode/
.idea/

# ==============================
# SISTEMA OPERATIVO
# ==============================
.DS_Store
Thumbs.db

# ==============================
# ARCHIVOS TEMPORALES
# ==============================
Captura de pantalla*.png